@model IEnumerable<Hospital_CMS.Models.DoctorDto>

@{
    ViewBag.Title = "List";
}

<div style="font-size:30px; float:right;">
    <a class="plus" href="/Doctor/New">
        New Doctor</a></div>

        <div class="centres" style="font-size:20px">
            <h1>List Doctors</h1>


            @foreach (var doctor in Model)
            {
                <h2><strong style="background-color:white"><a href="/Doctor/Details/@doctor.DoctorId"> @doctor.DoctorFirstname @doctor.DoctorLastname</a></strong></h2>
                <div>Gender: @doctor.Gender</div>
                <div>Licence No: @doctor.LicenceNo</div>
                <div>Contact No: @doctor.ContactNo</div>
                <div>Specilization: @doctor.SpecilizationId. @doctor.SpecilizationName </div>

            }
        </div>

        <style>
            .link:hover {
                text-shadow: #e943da 5px 5px 5px;
                text-decoration: none;
            }

            .plus {
                background-color: #0094ff;
                border-radius: 5px;
                padding: 10px 15px;
                text-decoration: none;
                color: #fff;
               

            }

                .plus:hover {
                    text-decoration: none;
                }
        </style>
