@model Hospital_CMS.Models.ViewModels.DetailsDepartments
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<nav>
    <a class="navlink" style="border: 1px solid black; padding: 10px; color:green; margin:10px;" href="/Department/Edit/@Model.SelectedDepartment.DepartmentID">Update </a>
    <a class="dellink" style="border: 1px solid black; padding: 10px; color: red; margin: 10px;" href="/Department/DeleteConfirm/@Model.SelectedDepartment.DepartmentID">Delete</a>
</nav>
<nav style="margin-top:30px; margin-left:10px;">
    <a style=" border: 1px solid black; padding: 10px;" href="/Department/List">Go back to list</a>
</nav>
<h2>@Model.SelectedDepartment.DepartmentName</h2>
<div>Service: @Model.SelectedDepartment.Service </div>
@*
    <div>Donor Name: @Model.FirstName @Model.LastName</div>
    <div>Doctor Name: @Model.DoctorFirstname @Model.DoctorLastname</div>*@

<div>
    <h2>Donor for @Model.SelectedDepartment.DepartmentName</h2>
    @foreach (var donor in Model.ResponsibleDonors)
    {
        <a href="/donor/Details/@donor.DonorID"> @donor.FirstName @donor.LastName</a> 
        <a style="color:red;" href="/Department/Unassociate/@Model.SelectedDepartment.DepartmentID?DonorID=@donor.DonorID">[X]</a><br />

    }
    <div>
        <h4>Add new Donor for @Model.SelectedDepartment.DepartmentName</h4>
        <form method="post" action="/Department/Associate/@Model.SelectedDepartment.DepartmentID">
            <select name="DonorID">
                @foreach (var donor in Model.AvailableDonors)
                {
                    <option value="@donor.DonorID">@donor.FirstName @donor.LastName</option>
                }
            </select>
            <input type="submit" value="Associate Donor" />
        </form>
    </div>
</div>