
@model Hospital_CMS.Models.DonorDto
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<nav>
    <a class="navlink" style="border: 1px solid black; padding: 10px; color:green; margin:10px;" href="/Donor/Edit/@Model.DonorID">Update </a>
    <a class="dellink" style="border: 1px solid black; padding: 10px; color: red; margin: 10px;" href="/Donor/DeleteConfirm/@Model.DonorID">Delete</a>
</nav>
<nav style="margin-top:30px; margin-left:10px;">
    <a style=" border: 1px solid black; padding: 10px;" href="/Donor/List">Go back to list</a>
</nav>
<h2>@Model.FirstName @Model.LastName </h2>
<div>Contact: @Model.Contact </div>
<div>Address: @Model.Address</div>
<div>Value: @Model.Value</div>

